body{
    background-color: rgb(255, 189, 162);
}
/* -------------head------------- */
.head{
    width: 100%;
    display: inline-block;
}

.head #logo{
    border-radius: 50%;
    margin-top: 1%;
    margin-left: 10%;
    box-shadow: 5px 10px 25px black;
}













.middle{
    margin-top: 10px;
    border: 3px solid rgb(255, 255, 255, 0.9);
    box-shadow: 0px 0px 50px white;
    padding: 10px 20px 10px;
}

.middle h1{
    border-radius: 10px;
    padding-top: 15px;
    padding-bottom: 10px;
    text-align: center;
    text-decoration: overline underline;
    color: lightcoral;
    box-shadow: 5px 10px 85px black;
}
.middle img{
    background-color: rgb(255, 255, 255, 0.3);
    margin-left: -2px;
    border-radius: 10px;
    width: 100%;
    box-shadow: 5px 10px 85px black;
}
.middle p{
    border-bottom-right-radius: 60px;
    font-weight: 600;
    border-top-left-radius: 60px;
    border: 2px solid lightcoral;
    margin-top: 12%;
    padding: 50px;
    text-align: center;
}
.middle p:hover{
    font-size: 17px;
    background-color: rgb(255, 255, 255, 0.3);
    transition: 2s;
}

.foot{
    border: 1px solid;
    border-radius: 10px;
    box-shadow: -5px -10px 30px black;
    height: 200px;
    background-image: linear-gradient(to bottom,rgb(255, 189, 162), lightcoral);
}

.foot .imgs{
    margin-top: 5%;
    margin-left: auto;
    margin-right: auto;
    list-style: none;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    display: flex;
    width: fit-content;
    height: fit-content;
    padding: 10px;
    border: 1px solid;
    box-shadow: -10px 10px 20px white;
}
.foot .imgs img{
    margin: 10px;
    height: 30px;
    width: 30px;
    border-radius: 50%;
}
.foot .imgs img:hover{
    translate: 0px -10px;
    transition: 1s;
    box-shadow: 0px 0px 10px rgb(0, 0, 0);
}